<h1>Listado de Tareas</h1>

<span *ngIf="createTask.invalid">** TODOS LOS CAMPOS SON OBLIGATORIOS **</span>
<form class="formCreate" [formGroup]="createTask"  (ngSubmit)="addTask()">
    <input id="mainId" type="number" class="form-id" formControlName="id" placeholder="ID">
    <br> <br>
    <input id="userId" type="text" class="form-id-user" formControlName="user_id" placeholder="Id de usuario">
    <br> <br>
    <input id="titleId" type="text" class="form-title" formControlName="title" placeholder="Título">
    <br> <br>
    <input id="dateId" type="date" class="form-due-on" formControlName="due_on" placeholder="Fecha">
    <br> <br>
    <input id="statusId" type="text" class="form-status" formControlName="status" placeholder="Estado">
    <br> <br>

    <div>
        <button id="btnCreate" type="submit">Agregar</button>
    </div>
</form><br><br><br>
 <div class="main">
    <table class="tareas">
        <li *ngFor="let task of tasks">
        <a>
            Id: {{ task.id }} ,<br>
            User_id: {{ task.user_id }},<br>
            Title: {{task.title }},<br>
            Date: {{ task.due_on }},<br>
            Status: {{ task.status }}<br>
            <button id="btnDelete" class="btn-borrar" (click)="deleteTask(task)">Borrar</button><br><br><br>
        </a>
        </li>
    </table>
</div> 